In [0]:
## Importing required libraries
from pyspark.sql.functions import col, lit

In [0]:
# File location and type
file_location = "/FileStore/tables/sample_csv-3.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

id,name,age
50,James,35
51,Harry,25
52,Garnet,30

In [0]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |--  name: string (nullable = true)
 |--  age: integer (nullable = true)

In [0]:
# df = df.selectExpr("id as id", " name as name", " age as age")
df = df.withColumnRenamed("id", "id_new").withColumnRenamed(" name", "name_new").withColumnRenamed(" age", "age_new")
df.show()

+------+--------+-------+
|id_new|name_new|age_new|
+------+--------+-------+
|    50|   James|     35|
|    51|   Harry|     25|
|    52|  Garnet|     30|
+------+--------+-------+

Method 1 of adding new column

In [0]:
df = df.withColumn("country", lit("India"))
df.show()

+------+--------+-------+-------+
|id_new|name_new|age_new|country|
+------+--------+-------+-------+
|    50|   James|     35|  India|
|    51|   Harry|     25|  India|
|    52|  Garnet|     30|  India|
+------+--------+-------+-------+

In [0]:
df = df.withColumn("salary", col("age_new") * 1000)
df.show()

+------+--------+-------+-------+------+
|id_new|name_new|age_new|country|salary|
+------+--------+-------+-------+------+
|    50|   James|     35|  India| 35000|
|    51|   Harry|     25|  India| 25000|
|    52|  Garnet|     30|  India| 30000|
+------+--------+-------+-------+------+

Method 2 of adding new column

In [0]:
df_new = df.select(col("id_new"), col("name_new"), col("age_new"), lit("India").alias("country_new"))
df_new.show()

+------+--------+-------+-----------+
|id_new|name_new|age_new|country_new|
+------+--------+-------+-----------+
|    50|   James|     35|      India|
|    51|   Harry|     25|      India|
|    52|  Garnet|     30|      India|
+------+--------+-------+-----------+