In [0]:
## Importing required libraries
from pyspark.sql.functions import col, lit

In [0]:
# File location and type
file_location = "/FileStore/tables/sample_csv-3.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

id,name,age
50,James,35
51,Harry,25
52,Garnet,30

In [0]:
## finalizing the dataframe
df = df.withColumnRenamed("id", "id_new").withColumnRenamed(" name", "name_new").withColumnRenamed(" age", "age_new")
df.show()

+------+--------+-------+
|id_new|name_new|age_new|
+------+--------+-------+
|    50|   James|     35|
|    51|   Harry|     25|
|    52|  Garnet|     30|
+------+--------+-------+

Method 1 of filtering Dataframe

In [0]:
df.filter(df.id_new == 52).show()

+------+--------+-------+
|id_new|name_new|age_new|
+------+--------+-------+
|    52|  Garnet|     30|
+------+--------+-------+

Method 2 of filtering Dataframe

In [0]:
#single condition
df.filter(col("id_new") == 51).show()

+------+--------+-------+
|id_new|name_new|age_new|
+------+--------+-------+
|    51|   Harry|     25|
+------+--------+-------+

In [0]:
## Multiple condition with OR
df.filter(
    (col("id_new") == 51) | (col("name_new") == "Garnet")
).show()

+------+--------+-------+
|id_new|name_new|age_new|
+------+--------+-------+
|    51|   Harry|     25|
+------+--------+-------+

In [0]:
## Multiple condition with AND
df.filter(
    (col("id_new") == 51) & (col("name_new") == "Garnet")
).show()

+------+--------+-------+
|id_new|name_new|age_new|
+------+--------+-------+
+------+--------+-------+

In [0]:
## Single condition with NOT
df.filter(
    (col("id_new") != 51)
).show()

+------+--------+-------+
|id_new|name_new|age_new|
+------+--------+-------+
|    50|   James|     35|
|    52|  Garnet|     30|
+------+--------+-------+